[submodule "themes/up-business-theme"]
	path = themes/up-business-theme
	url = https://gitlab.com/writeonlyhugo/up-business-theme.git
[submodule "themes/tella"]
	path = themes/tella
	url = https://github.com/opera7133/tella
